@if (tableColumn.length) {
  <table [class]="tableClass" [style]="tableStyle">
    <thead [class]="tableHeadClass" [style]="tableHeadStyle">
      <tr [class]="tableHeadRowClass" [style]="tableHeadRowStyle">
        @for (col of tableColumn; track col?.header?.key) {
          <th
            [class]="
              resolveStyle(col?.header?.class, null, {
                index: $index,
                count: $count,
                isFirstItem: $first,
                isLastItem: $last,
                isEven: $even,
                isOdd: $odd,
              })
            "
            [style]="
              resolveStyle(col?.header?.style, null, {
                index: $index,
                count: $count,
                isFirstItem: $first,
                isLastItem: $last,
                isEven: $even,
                isOdd: $odd,
              })
            "
            [attr.colspan]="col?.header?.colspan"
            [attr.rowspan]="col?.header?.rowspan"
          >
            <!-- @if (col?.header?.customTemplate) {
            <ng-container
              *ngTemplateOutlet="
                col?.header?.customTemplate;
                context: { $implicit: data }
              "
            ></ng-container>
          } @else {
            {{
              resolveContent(col?.header, data, {
                index: $index,
                count: $count,
                isFirstItem: $first,
                isLastItem: $last,
                isEven: $even,
                isOdd: $odd,
              })
            }}
          } -->

            @if (col?.header?.customTemplate) {
              <ng-container
                *ngTemplateOutlet="
                  col?.header?.customTemplate;
                  context: {
                    $implicit: data,
                    loop: {
                      index: $index,
                      count: $count,
                      isFirstItem: $first,
                      isLastItem: $last,
                      isEven: $even,
                      isOdd: $odd,
                    },
                  }
                "
              >
              </ng-container>
            } @else {
              {{
                resolveHeaderCellContent(col?.header, data, {
                  index: $index,
                  count: $count,
                  isFirstItem: $first,
                  isLastItem: $last,
                  isEven: $even,
                  isOdd: $odd,
                })
              }}
            }
          </th>
        }
      </tr>
    </thead>

    <tbody [class]="tableBodyClass" [style]="tableBodyStyle">
      @for (
        row of tableData;
        track resolveRowKey(row);
        let rowIndex = $index;
        let rowCount = $count;
        let isFirst = $first;
        let isLast = $last;
        let isEven = $even;
        let isOdd = $odd
      ) {
        <tr [class]="tableBodyRowClass" [style]="tableBodyRowStyle">
          @for (col of tableColumn; track col?.header?.key) {
            <td
              [class]="
                resolveStyle(col?.body?.class, row, {
                  index: $index,
                  count: $count,
                  isFirstItem: $first,
                  isLastItem: $last,
                  isEven: $even,
                  isOdd: $odd,
                })
              "
              [style]="
                resolveStyle(col?.body?.style, row, {
                  index: $index,
                  count: $count,
                  isFirstItem: $first,
                  isLastItem: $last,
                  isEven: $even,
                  isOdd: $odd,
                })
              "
              [attr.colspan]="col?.body?.colspan"
              [attr.rowspan]="col?.body?.rowspan"
            >
              <!-- @if (col?.body?.customTemplate) {
                <ng-container
                  *ngTemplateOutlet="
                    resolveBodyTemplate(col?.body?.customTemplate, row, data);
                    context: { $implicit: row }
                  "
                ></ng-container>
              } @else {
                {{
                  resolveBodyCellContent(col?.body?.bodyCellContent, row, data)
                }}
              } -->

              @if (getComponent(col?.body?.component, row)) {
                <ng-container
                  *ngComponentOutlet="
                    getComponent(col.body.component, row);
                    inputs: {
                      row: row,
                      data: data,
                      loop: {
                        index: rowIndex,
                        count: rowCount,
                        isFirstItem: isFirst,
                        isLastItem: isLast,
                        isEven: isEven,
                        isOdd: isOdd,
                      },
                    }
                  "
                >
                </ng-container>
              } @else {
                {{
                  resolveBodyCellContent(col?.body?.bodyCellContent, row, data)
                }}
              }
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
}
