@if (tableColumn.length) {
  <table [class]="tableClass" [style]="tableStyle">
    <thead [class]="tableHeadClass" [style]="tableHeadStyle">
      <tr [class]="tableHeadRowClass" [style]="tableHeadRowStyle">
        @for (col of tableColumn; track col?.header?.key) {
          <th
            [class]="
              resolveStyle({
                style: col?.header?.class,
                row: null,
                loopData: {
                  index: $index,
                  count: $count,
                  isFirstItem: $first,
                  isLastItem: $last,
                  isEven: $even,
                  isOdd: $odd,
                },
              })
            "
            [style]="
              resolveStyle({
                row: null,
                style: col?.header?.style,
                loopData: {
                  index: $index,
                  count: $count,
                  isFirstItem: $first,
                  isLastItem: $last,
                  isEven: $even,
                  isOdd: $odd,
                },
              })
            "
            [attr.colspan]="col?.header?.colspan"
            [attr.rowspan]="col?.header?.rowspan"
          >
            <!-- @if (col?.header?.customTemplate) {
            <ng-container
              *ngTemplateOutlet="
                col?.header?.customTemplate;
                context: { $implicit: data }
              "
            ></ng-container>
          } @else {
            {{
              resolveContent(col?.header, data, {
                index: $index,
                count: $count,
                isFirstItem: $first,
                isLastItem: $last,
                isEven: $even,
                isOdd: $odd,
              })
            }}
          } -->

            @if (col?.header?.customTemplate) {
              <ng-container
                *ngTemplateOutlet="
                  col?.header?.customTemplate;
                  context: {
                    $implicit: data,
                    loop: {
                      index: $index,
                      count: $count,
                      isFirstItem: $first,
                      isLastItem: $last,
                      isEven: $even,
                      isOdd: $odd,
                    },
                  }
                "
              >
              </ng-container>
            } @else {
              {{
                resolveHeaderCellContent({
                  header: col?.header,
                  currentData: data,
                  loopData: {
                    index: $index,
                    count: $count,
                    isFirstItem: $first,
                    isLastItem: $last,
                    isEven: $even,
                    isOdd: $odd,
                  },
                })
              }}
            }
          </th>
        }
      </tr>
    </thead>

    <tbody [class]="tableBodyClass" [style]="tableBodyStyle">
      @for (
        row of tableData;
        track resolveRowKey(row);
        let rowIndex = $index;
        let rowCount = $count;
        let isFirst = $first;
        let isLast = $last;
        let isEven = $even;
        let isOdd = $odd
      ) {
        <tr [class]="tableBodyRowClass" [style]="tableBodyRowStyle">
          @for (col of tableColumn; track col?.header?.key) {
            @if (
              !resolveSkipRendering({
                skipRendering: col?.body?.skipRendering,
                row: row,
                data: data,
                rowLoopData: {
                  index: rowIndex,
                  count: rowCount,
                  isFirstItem: isFirst,
                  isLastItem: isLast,
                  isEven: isEven,
                  isOdd: isOdd,
                },
                colLoopData: {
                  index: $index,
                  count: $count,
                  isFirstItem: $first,
                  isLastItem: $last,
                  isEven: $even,
                  isOdd: $odd,
                },
              })
            ) {
              <td
                [class]="
                  resolveStyle({
                    row,
                    style: col?.body?.class,
                    loopData: {
                      index: $index,
                      count: $count,
                      isFirstItem: $first,
                      isLastItem: $last,
                      isEven: $even,
                      isOdd: $odd,
                    },
                  })
                "
                [style]="
                  resolveStyle({
                    row,
                    style: col?.body?.style,
                    loopData: {
                      index: $index,
                      count: $count,
                      isFirstItem: $first,
                      isLastItem: $last,
                      isEven: $even,
                      isOdd: $odd,
                    },
                  })
                "
                [attr.colspan]="
                  resolveRowOrColSpan({
                    span: col?.body?.colspan,
                    row: row,
                    data: data,
                    rowLoopData: {
                      index: rowIndex,
                      count: rowCount,
                      isFirstItem: isFirst,
                      isLastItem: isLast,
                      isEven: isEven,
                      isOdd: isOdd,
                    },
                    colLoopData: {
                      index: $index,
                      count: $count,
                      isFirstItem: $first,
                      isLastItem: $last,
                      isEven: $even,
                      isOdd: $odd,
                    },
                  })
                "
                [attr.rowspan]="
                  resolveRowOrColSpan({
                    span: col?.body?.rowspan,
                    row: row,
                    data: data,
                    rowLoopData: {
                      index: rowIndex,
                      count: rowCount,
                      isFirstItem: isFirst,
                      isLastItem: isLast,
                      isEven: isEven,
                      isOdd: isOdd,
                    },
                    colLoopData: {
                      index: $index,
                      count: $count,
                      isFirstItem: $first,
                      isLastItem: $last,
                      isEven: $even,
                      isOdd: $odd,
                    },
                  })
                "
              >
                <!-- @if (col?.body?.customTemplate) {
                <ng-container
                  *ngTemplateOutlet="
                    resolveBodyTemplate(col?.body?.customTemplate, row, data);
                    context: { $implicit: row }
                  "
                ></ng-container>
              } @else {
                {{
                  resolveBodyCellContent(col?.body?.bodyCellContent, row, data)
                }}
              } -->

                @if (getComponent(col?.body?.component, row)) {
                  <ng-container
                    *ngComponentOutlet="
                      getComponent(col.body.component, row);
                      inputs: {
                        row: row,
                        data: data,
                        loop: {
                          index: rowIndex,
                          count: rowCount,
                          isFirstItem: isFirst,
                          isLastItem: isLast,
                          isEven: isEven,
                          isOdd: isOdd,
                        },
                      }
                    "
                  >
                  </ng-container>
                } @else {
                  {{
                    resolveBodyCellContent({
                      data,
                      row,
                      bodyCellContent: col?.body?.bodyCellContent,
                      loopData: {
                        index: rowIndex,
                        count: rowCount,
                        isFirstItem: isFirst,
                        isLastItem: isLast,
                        isEven: isEven,
                        isOdd: isOdd,
                      },
                    })
                  }}
                }
              </td>
            }
          }
        </tr>
      }
    </tbody>
  </table>
}
