<table style="width: 100%; border-collapse: collapse; margin-bottom: 30px">
  <tr>
    <td style="width: 60%; vertical-align: top">
      <!-- <table style="width: 95%; border-collapse: collapse">
        <thead>
          <tr
            style="
              text-align: left;
              font-size: 13px;
              color: #444;
              border-bottom: 1px solid #333;
            "
          >
            <th style="padding: 8px 5px; font-weight: 700">Tax Rate</th>
            <th style="padding: 8px 5px; font-weight: 700">Goods</th>
            <th style="padding: 8px 5px; font-weight: 700">Vat Amount</th>
            <th style="padding: 8px 5px; font-weight: 700">Net</th>
            <th style="padding: 8px 5px; font-weight: 700">Total</th>
          </tr>
        </thead>

        <tbody>
          @for (tax of taxSummary; track $index) {
            <tr style="font-size: 13px; border-bottom: 1px solid #eee">
              <td style="padding: 8px 5px">{{ tax.rate }}</td>
              <td style="padding: 8px 5px">£{{ tax.goods }}</td>
              <td style="padding: 8px 5px">£{{ tax.vatAmount }}</td>
              <td style="padding: 8px 5px">£{{ tax.net }}</td>
              <td style="padding: 8px 5px">£{{ tax.total }}</td>
            </tr>
          }
        </tbody>
      </table> -->

      <invoice-tax-details-table [taxDetails]="taxDetails" />
    </td>

    <td style="width: 40%; vertical-align: top">
      <!-- <table style="width: 100%; border-collapse: collapse">
        <tbody>
          <tr>
            <td style="padding: 5px 0; font-size: 13px">Subtotal</td>
            <td style="padding: 5px 0; text-align: right; font-size: 13px">
              £{{ subtotal }}
            </td>
          </tr>
          <tr>
            <td style="padding: 5px 0; font-size: 13px">Total VAT (Excl)</td>
            <td style="padding: 5px 0; text-align: right; font-size: 13px">
              £{{ totalVat }}
            </td>
          </tr>
          <tr style="border-bottom: 1px solid #ccc">
            <td style="padding: 5px 0; font-size: 13px">Total Paid</td>
            <td style="padding: 5px 0; text-align: right; font-size: 13px">
              £{{ totalVat }}
            </td>
          </tr>
          <tr>
            <td style="padding: 10px 0; font-size: 13px">
              <strong>Total Amount</strong>
            </td>
            <td style="padding: 10px 0; text-align: right; font-size: 14px">
              <strong>£{{ totalAmount }}</strong>
            </td>
          </tr>
        </tbody>
      </table> -->

      <invoice-tax-summary-table [taxSummary]="taxSummary" />
    </td>
  </tr>
</table>
